* {
  margin: 0;
  padding: 0;
}

.container,
.output,
.details {
  display: flex;
  flex-direction: column;
}

/* Header section */

.form {
  display: flex;
  max-width: 100%;
  align-items: stretch;
  justify-content: center;
}

.form label {
  display: none;
}

.form input {
  flex: 1 1 auto;
  min-width: 0;

  border: none;
  border-bottom: solid gray 1px;

  text-align: center;
  font-size: 4rem;
  overflow: wrap;
  text-overflow: ellipsis;
}

.form button {
  flex: 0 0 auto;
  width: 3rem;
}

/* Temperature */

.temperature {
  align-self: center;
  font-size: 10rem;
  text-align: center;
  height: 20rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.4rem 0;
}

.temperature,
.card .header,
.card .data {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Details section */

.details > .header {
  align-self: center;
}

.conditions,
.forecast {
  display: flex;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px 3px 0 0;
  margin: 0 0.4rem;
}

.card .header {
  min-height: 1.5rem;
  background-color: gray;
}

.card .data {
  font-size: 2rem;
  min-height: 5rem;
  background-color: lightgray;
}
