@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

$bg-color: lightblue;
$card-header-color: gray;
$card-body-color: lightgray;
$text-color: white;
$breakpoint: 600px;

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: $bg-color;
  font-family: 'Quicksand', sans-serif;
  color: $text-color;
}

.container,
.output,
.details {
  display: flex;
  flex-direction: column;
}

/* Header section */

.form {
  display: flex;
  max-width: 100%;
  align-items: stretch;
  justify-content: center;

  label {
    display: none;
  }

  input {
    flex: 1 1 auto;
    min-width: 0;

    border: none;
    border-bottom: solid gray 1px;
    background-color: transparent;
    color: $text-color;
    font-family: 'Quicksand', sans-serif;

    text-align: center;
    font-size: 4rem;
    overflow: wrap;
    text-overflow: ellipsis;
  }

  button {
    flex: 0 0 auto;
    width: 3rem;
  }
}

/* Temperature */

.temperature,
.status {
  align-self: center;
  font-size: 10rem;
  text-align: center;
  height: 20rem;
  width: 20rem;
  border-radius: 3px;
  margin: 0.4rem 0;
}

.temperature {
  border: 1px solid black;
}

.temperature,
.card .header,
.card .data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  position: absolute;
  top: 30vh;
}

/* Details section */

.details > .header {
  align-self: center;
  color: gray;
}

.conditions,
.forecast {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px 3px 0 0;
  margin: 0 0.4rem;

  .header {
    min-height: 1.5rem;
    background-color: $card-header-color;
  }

  .data {
    font-size: 2rem;
    min-height: 5rem;
    background-color: $card-body-color;
  }
}

/* Display animation */
.output.animate {
  animation: fadein 0.4s ease-out;
}

.status.animate {
  animation: status 1s ease-in-out infinite alternate;
}

.hidden {
  display: none;
}

@keyframes fadein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes status {
  from {
    transform: translateY(-6px);
  }
  to {
    transform: translateY(6px);
  }
}

/* Mobile layout */

@media (max-width: $breakpoint) {
  .conditions,
  .forecast {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 0.6rem 0;
  }
}
