@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
  --bg: lightblue;
  --card-header-color: gray;
  --card-body-color: lightgray;
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: var(--bg);
  font-family: 'Quicksand', sans-serif;
  color: var(--text-color);
}

.container,
.output,
.details {
  display: flex;
  flex-direction: column;
}

/* Header section */

.form {
  display: flex;
  max-width: 100%;
  align-items: stretch;
  justify-content: center;
}

.form label {
  display: none;
}

.form input {
  flex: 1 1 auto;
  min-width: 0;

  border: none;
  border-bottom: solid gray 1px;
  background-color: transparent;
  color: var(--text-color);
  font-family: 'Quicksand', sans-serif;

  text-align: center;
  font-size: 4rem;
  overflow: wrap;
  text-overflow: ellipsis;
}

.form button {
  flex: 0 0 auto;
  width: 3rem;
}

/* Temperature */

.temperature,
.status {
  align-self: center;
  font-size: 10rem;
  text-align: center;
  height: 20rem;
  width: 20rem;
  border-radius: 3px;
  margin: 0.4rem 0;
}

.temperature {
  border: 1px solid black;
}

.temperature,
.card .header,
.card .data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  position: absolute;
  top: 30vh;
}

/* Details section */

.details > .header {
  align-self: center;
  color: gray;
}

.conditions,
.forecast {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px 3px 0 0;
  margin: 0 0.4rem;
}

.card .header {
  min-height: 1.5rem;
  background-color: var(--card-header-color);
}

.card .data {
  font-size: 2rem;
  min-height: 5rem;
  background-color: var(--card-body-color);
}

/* Display animation */
.output.animate {
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
}

.hidden {
  opacity: 0%;
  transform: translateY(10px);
}

.status.animate {
  animation: status 1s ease-in-out infinite alternate;
}

@keyframes status {
  from {
    transform: translateY(-6px);
  }
  to {
    transform: translateY(6px);
  }
}
