* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Header section */

.form {
  display: flex;
  max-width: 100%;
  align-items: stretch;
  justify-content: center;
}

.form label {
  display: none;
}

.form input {
  flex: 1 1 auto;
  min-width: 0;

  border: none;
  border-bottom: solid gray 1px;

  text-align: center;
  font-size: 4rem;
  overflow: wrap;
}

.form button {
  flex: 0 0 auto;
  width: 3rem;
}
